* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  justify-content: center;
}
.web-title {
  text-align: center;
  font-size: 4.8rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
.description {
  text-align: center;
  font-size: 1.6rem;
}
.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 3px solid black;
  margin-top: 4.8rem;
  /* position: relative; */
}
.square {
  width: 6.5rem;
  height: 6.5rem;
  transition: all 0.3s;
}
.square:hover {
  background-color: green;
  cursor: pointer;
}
.black-square {
  /* ORIGINAL COLOR */
  /* background-color: #054175; */
  background-color: #0669c0;
}
.white-square {
  background-color: #fff;
}
.piece {
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  transform: translate(-50%, -50%);
  /* background-color: green; */
  transition: all 0.3s;
  background: transparent;
  pointer-events: none;
}
