@media (max-width: 30em) {
  .square,
  .piece {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-height: 45em) {
  .square,
  .piece {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 20em) {
  .square,
  .piece {
    width: 3rem;
    height: 3rem;
  }
}
